body {
    font-family: "Open Sans", sans-serif;
    background-color: rgb(193, 189, 189);
  }
  
  .container {
    display: flex;
    gap: 20px;
    padding: 50px;
  }
  
  .leftMenu {
    flex: 1;
  }
  
  .search{
    padding: 10px;
    width: 200px;
    border: none;
    letter-spacing: 1px;
    font-size: 16px;
    color: rgb(9, 163, 63);
  }
  
  h1{
    font-size: 30px;
    color: rgb(9, 163, 63);
    font-weight: 600;
  }
  
  
  .cats{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .cat{
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    color: rgb(9, 163, 63);
    padding: 5px;
  }

  .cat:hover {
    background-color: rgb(162, 162, 162);
  }
  
  .content {
    flex: 4;
  }
  
  .products{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .price {
    display: flex;
    align-items: center;
    gap: 5px;
    color: red;
  }
  .product{
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    background-color: white;
    padding-block: 10px;
    border-radius: 5px;
    
  }
  
  img{
    width: 150px;
    height: 250px;
    object-fit: contain;
  }
  
  .name{
    font-weight: 600;
    color:rgb(9, 163, 63) ;
  }

  .priceText {
    color: red;
  }